@model DashboardModel
@using Microsoft.AspNetCore.Http

<h3 class ="text-light text-center ml-2">My Books</h3>
<table class="table table-bordered table-dark ml-4">
    <tr class="bg-secondary">
        <th>
            Book ID
        </th>
        <th>
            Title
        </th>
        <th>
            Author
        </th>
        <th>
            Status
        </th>
    </tr>
    @foreach(var book in Model.books){
        // If the user is librarian/admin OR the book is on hold by the user OR the book is checked out by the user, display the book
        if (Context.Session.GetInt32("RoleID") > 2 || book.OnHoldBy == Context.Session.GetInt32("UserID") || book.CheckedOutBy == Context.Session.GetInt32("UserID")){
            <tr>
                <td>
                    @book.BookID
                </td>
                <td>
                    @book.Title
                </td>
                <td>
                    @book.Author
                </td>
                <td>
                    @if (book.CheckedOutBy == Context.Session.GetInt32("UserID")) // Book is checked out by current user
                    {
                        <button asp-controller="Dashboard" asp-action="Return" asp-route-id="@book.BookID" class="btn btn-success" style="width:150px">Return</button>
                    }
                    else if (book.OnHoldBy == Context.Session.GetInt32("UserID")) // Book is on hold for current user
                    {
                        <span class="text-light">On Hold</span>
                    }
                    else if (Model.users.FirstOrDefault(u => u.UserID == book.CheckedOutBy) != null)
                    {
                        <span class="text-light">@Model.users.FirstOrDefault(u => u.UserID == book.CheckedOutBy).Email</span>
                    }
                    else
                    {
                        <span class="text-light">Available</span>
                    }
                </td>
            </tr>
        }
    }
</table>
