@model List<BookModel>
@using Microsoft.AspNetCore.Http
@{
    ViewData["Title"] = "Books";
}

<div class="row pt-4">
    <div class="col-4"></div>
    <div class="col-6">
        <h2 class="text-light">Book List</h2>
    </div>
    @if (Context.Session.GetInt32("RoleID") > 2) 
    {
        <div class="col">
            <a asp-controller="Books" asp-action="Create" class="btn btn-success" style="width:150px">New Book</a>
        </div>
    }
</div>
    <br /><br />


<table class="table table-bordered table-dark">
    <thead>
        <tr class="bg-secondary">
            <th>
                Book ID
            </th>
            <th>
                Title
            </th>
            <th>
                Author
            </th>
            <th>
                Check Out
            </th>
        </tr>
    </thead>
    @foreach (var book in Model)
    {
        <tr>
            <td>
                @book.BookID
            </td>
            <td>
                @book.Title
            </td>
            <td>
                @book.Author
            </td>
            <td>
                @if (Context.Session.GetInt32("RoleID") < 2 && book.CheckedOutBy == 0) // User is guest, book is available
                {
                    <button asp-controller="Books" asp-action="Checkout" asp-route-id="@book.BookID" class="btn btn-success" style="width:150px" disabled>Check Out</button>
                }
                else if (Context.Session.GetInt32("RoleID") < 2 && book.OnHoldBy == 0) // User is guest, book is checked out
                {
                    <button asp-controller="Books" asp-action="Reserve" asp-route-id="@book.BookID" class="btn btn-warning" style="width:150px" disabled>Reserve</button>
                }
                else if (book.CheckedOutBy == 0)
                {
                    <a asp-controller="Books" asp-action="Checkout" asp-route-id="@book.BookID" method="post" class="btn btn-success" style="width:150px">Check Out</a>
                }
                else if (book.OnHoldBy == 0)
                {
                    <a asp-controller="Books" asp-action="Reserve" asp-route-id="@book.BookID" method="post" class="btn btn-warning" style="width:150px">Reserve</a>
                }
                else
                {
                    <button class="btn btn-secondary" style="width:150px" disabled>Unavailable</button>
                }
            </td>
            @if (Context.Session.GetInt32("RoleID") > 2)
            {
                <td style="border: none">
                    <a asp-controller="Books" asp-action="Delete" asp-route-id="@book.BookID" method="post" class="text-danger">Delete</a>
                </td>
            }
        </tr>
    }
</table>